.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h3 {
  margin-top: 160px;
  color: white;
  font-size: 22px;
  font-weight: 200;
}

.banner strong {
  text-transform: uppercase;
}

.banner p {
  bottom: 10px;
  font-size: 16px;
  color: white;
}

.banner-index {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('bg_index.png');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 80vh;
  margin-bottom: 64px;
}
