.btn-ghost-lb {
  background-color: rgb(139, 177, 204);
  color: white;
  border-radius: 50px;
  font-size: 24px;
  font-family:'Exo', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 24px;
  letter-spacing: 1px;
}

.btn-ghost-lb:hover {
  background-color: rgb(255, 200, 199);
  color: white;
  transition: background-color 2s ease;
}

.btn-ghost-small {
  background-color: transparent;
  color: rgb(139, 177, 204);
  border: 2px solid rgb(139, 177, 204);
  border-radius: 50px;
  font-size: 14px;
  font-family:'Exo', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 1px;
}

.btn-ghost-small:hover {
  color: rgb(139, 177, 204);
  font-weight: 600;
}

.btn-submit {
  background-color: rgb(139, 177, 204);
  color: white;
  border-radius: 50px;
  font-size: 14px;
  font-family:'Exo', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 1px;
  margin: auto;
}

.btn-submit:hover {
  background-color: rgb(120, 177, 204);
  color: white;
}

.btn-logout {
  background-color: rgb(255, 200, 199);
  border-radius: 50px;
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 1px;
  margin: auto;
}
.btn-logout:hover {
  color: white;
}

.back_btn {
  text-align: center;
}


//color/ui color variables
$white: #ececec;

$yellow: rgb(255, 200, 199);
$purple: rgb(120, 177, 204);
$colorPrimary: $yellow;
$colorSecondary: $purple;

//split button mixin
@mixin btn__split($colorLeft, $colorRight, $textColor) {
  .btn {
    position: relative;
    letter-spacing: 0.25em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    z-index: 1;
    color: white;
    font-family: 'Exo';
    font-weight: 600;
    text-transform: uppercase;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 50%;
      transform: skewX(30deg);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      z-index: -2;
    }
    &::before {
      background-color: $colorLeft;
      top: -1rem;
      left: 0rem;
    }
    &::after {
      background-color: $colorRight;
      top: 1rem;
      left: 8rem;
    }
    &:hover {

      &::before,
      &::after {
        top: 0;
        transform: skewx(0deg);
        color:white;

      }
      &::after {
        left: 1rem;
        color:white;

      }
      &::before {
        left: 11rem;
        color:white;

      }
    }
  }
}

.btn p{
  margin: auto;
}

.btn:hover {
  color:white;
}

@include btn__split($colorPrimary, $colorSecondary, $white);

.btn-show {
  background-color: rgb(139, 177, 204);
  color: white;
  border-radius: 25px;
  font-size: 12px;
  font-family:'Exo', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 1px;
}

.btn-show:hover {
  color: white;
  background-color: rgb(159, 177, 204);
}
