.btn-ghost-lb {
  background-color: rgb(139, 177, 204);
  color: white;
  border-radius: 50px;
  font-size: 24px;
  font-family:'Exo', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 24px;
  letter-spacing: 1px;
}

.btn-ghost-lb:hover {
  background-color: rgb(255, 200, 199);
  color: white;
  transition: background-color 2s ease;
}

.btn-ghost-small {
  background-color: transparent;
  color: rgb(139, 177, 204);
  border: 2px solid rgb(139, 177, 204);
  border-radius: 50px;
  font-size: 14px;
  font-family:'Exo', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 1px;
}

.btn-ghost-small:hover {
  color: rgb(139, 177, 204);
  font-weight: 600;
}

.btn-submit {
  background-color: rgb(139, 177, 204);
  color: white;
  border-radius: 50px;
  font-size: 14px;
  font-family:'Exo', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 1px;
  margin: auto;
}

.btn-submit:hover {
  background-color: rgb(120, 177, 204);
  color: white;
}

.btn-logout {
  background-color: rgb(255, 200, 199);
  border-radius: 50px;
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 1px;
  margin: auto;
}
