.card {
  border : none;
  overflow: hidden;
  background: transparent;
  position: relative;
  margin-bottom: 94px;
  background: white;
  padding: 16px;
  border-radius: 25px;
}

.card_poster {
  border-radius: 100%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 32px;
  overflow: hidden;
}

.card_poster:hover {
  // changer en BG
}
.card_category p {
    border: 1px solid #8BB1CC;
    padding: 4px 8px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 25px;
    font-size: 12px;
    font-family: Lato;
    color: #FFC8C7;
    width: 80px;
    text-align: center;
}

.card_name p{
  font-family: 'Exo', sans-serif;
  color: #8BB1CC;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.card_description p {
  font-family: Lato;
  font-weight: 400;
  color: #8BB1CC;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   margin-top: 20px;

}

.card_seemore {
  font-size: 14px;
  color: #8BB1CC;
}

.card_seemore:hover {
  color: #829EB3;
}

.price_level {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price_level p {
  font-family: Exo;
  font-weight: 600;
  font-size: 20px;
  color: #829EB3;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 225, 224,0.5);
  padding: 5px 25px;
  border-radius: 5px;
  margin-top: 20px;
}

.card_options {
  display: flex;
  position: absolute;
  top: 5px;
  right: 30px;
}

.edit {
  margin-right: 14px;
}
