.container-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-show {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 100px 100px 100px;
}
