.navbar-lewagon {
  justify-content: space-between;
  background: rgba(139, 177, 204, 0.8);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 171px;
}

.logo_navbar {
  width: 60px;
}
