.navbar-lewagon {
  justify-content: space-between;
  background: rgba(139, 177, 204, 0.8);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 171px;
}

.logo_navbar {
  width: 60px;
}

.nav-item a {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color:  white;
    font-family: 'Open Sans Condensed';
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 20px;

}

.navbar-light .navbar-nav .nav-link:hover {
    color:  white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #FFC8C7;
}
