.input_new {
  width: 250px;
  height: 50px;
  float: none;
  text-align : center;
  border: 1px solid #829EB3;
  border-radius: 15px;
  font-family: Lato;
  margin-bottom: 32px;
  padding: 11px 27px;
}

.label_new {
  color: rgb(139, 177, 204);
  font-size: 14px;
  font-family:'Exo', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.form {
  margin-top: 32px;
}
