.simple_form {
    float: none;
    text-align : center;
    border: 1px solid #829EB3;
    border-radius: 15px;
    font-family: Lato;
    margin-bottom: 32px;
    padding: 11px 27px;
    margin-top: 48px;
}
.simple_form .input-box {
    margin-bottom: 10px;
    margin: auto;

}
.simple_form input {
    margin-bottom: 10px;
    margin: 10px auto;
    display: block;
    text-align : center;
    border-radius: 60px;
    border: 1px solid #829EB3;
}

form#new_user {
    background-color: rgba(255, 255, 255, 0.5);
}

.user_title {
    color: white;
    font-family: 'Open Sans Condensed';
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
label.email, label.password, label.form-check-label, .shared_link {
    color: white;
    font-family: 'Open Sans Condensed';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.login_btn {
    color: white;
    font-family: 'Open Sans Condensed';
    font-size: 24px;
}