// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/banner";
@import "components/container";
@import "components/backgroundimage";
@import "components/plume";
@import "components/card";
@import "components/show-dreams";
@import "components/simple-form";
@import "components/logo";
@import "components/button";
@import "pages/index";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: Lato;
  margin-bottom: 0px;
}



